body{
    margin: 0;
    padding: 0;
}

header{
    background-color: #EEEEEE;
    display: flex;
    justify-content:space-between;
    align-items: center;
    box-shadow: 5px 5px 5px #81808082;
}

#logoContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
        #library{
            font-size: 72px;
            font-family: 'Anek Gurmukhi', sans-serif;
            font-weight: normal;

        }
        #gitcontainer{
            margin-right: 100px;
        }

#libraryContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    cursor: pointer; /* Add a pointer on hover */
  }

    #inputInfoBook{
        background-color: #EEEEEE;
        border-radius: 25px;
        height: 400px;
        width: 300px; 
        position: absolute;
        top: 15%;
        left: 40%;
    }
        #flexContainer{
            display: flex;
            align-items: center;
            gap:20px;
            flex-direction: column;
            margin-top: 20px;
        }

            .inputTitle{
                font-family: 'Anek Gurmukhi', sans-serif;
                font-weight: bold;
                font-size: 25px;
            }

            input::placeholder{
                text-align:start;
            }

            input{
                border: none;
                border-radius:10px;
                height: 40px;
                width: 220px;
            }
            .inputForm{
                font-family: 'Anek Gurmukhi', sans-serif;
                font-weight: normal;
                font-size: 20px;
            }

          #checkBox{
              height: 20px;
          }

            #addButtonOverlay{
                background-color: rgb(0, 182, 18);
                color: white;
                font-size: 22px;
                font-family: 'Anek Gurmukhi', sans-serif;
                font-weight: normal;
                border:none;
                border-radius: 10px;
                height: 45px;
                width: 150px;
                padding: 0;
                margin: 0;

            }
            #flexCont{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 50px;
            }
       

    #addBookMainMenu{
        text-align: center;
        height: 75px;
        width: 250px;
        border: none;
        font-family: 'Anek Gurmukhi', sans-serif;
        font-weight: bold;
        font-size: 50px;
        background-color: white;
        margin-top: 15px;
        border-radius: 20px;
        padding-top: 15px;
    }
    #addBookMainMenu:hover{
        background-color:rgba(0, 0, 0, 0.196) ;
    }


#bookContainer{
    border: 5px solid rgb(87, 87, 221);
    display: grid;
    grid-template-columns:25% 25% 25% 25%;
    grid-row: 33%;
    justify-content: center;
    margin-left: 75px;
    gap:50px;
    height: auto;

}

        .bookCard{  
            background-color: #d2d2d2;
            border-radius: 25px;
            height: 350px;
            width: 275px; 
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            font-family: 'Anek Gurmukhi', sans-serif;
            font-weight: normal;
            font-size: 30px;
            gap: 15px;
            padding-top: 25px;
            text-align: center;
            box-shadow: 5px 5px  #5a5a5a82;
           /* display: none;*/
        }

            .diplayInfo{
                background-color: white;
                border: 15px;
                border-radius: 15px;
                width: 220px;
                padding-top: 5px;
            }

        .delete{
            background-color: red;
            border-radius: 15px;
            font-size: 20px;
            color: white;
            border: none;
            width: 150px;
            height: 35px;
        }

footer{
    position: fixed;
}


